/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

@import url(http://fonts.googleapis.com/css?family=Galdeano);
@import url(http://fonts.googleapis.com/css?family=Electrolize);
@import url(http://fonts.googleapis.com/css?family=Cuprum);

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  /*font: 14px Helvetica, Arial, sans-serif;*/
  font-size: 14px;
  font-family:"Galdeano","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

ul {
  list-style-type: none;
}

a {
    text-decoration:none;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.post a:link {color: #FF0000;}
.post a:visited {color: #FF0000;}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
    /*border: 2px solid #000000;*/
  font-size: 115%;
  text-align: justify;
  width: 600px;
  /*margin: 3em auto 2em;*/
  margin: 3em auto;
  line-height: 1.5em;
}

.site .header {
    border-bottom: 1px #000;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header .title {
  display: inline-block;
  margin-bottom: 1em;
    font-size: 2em;
    font-family:"Electrolize",sans-serif;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

/*.site .header a.extra {*/
  /*color: #aaa;*/
  /*margin-left: 1em;*/
/*}*/

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

.site a:link {color:#000000;}
.site a:visited {color:#000000;}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/


h2.post {
    font-size: 1.5em;
}

p.meta {
    margin-top:0.5em;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* nav 
/*
/*****************************************************************************/

.navbar {
    float: left;
    text-align: right;
    margin-left: -5.4em;
    /*width: 4em;*/
    /*border: 1px solid #000000;*/
    font-size: 1.4em;
    text-transform: uppercase;
    font-family:"Electrolize",sans-serif;
}

.navbar li {
    padding-bottom: 0.6em;
}

.navbar a:link {
    color: #a00;
}
.navbar a:visited {
    color: #a00;
}

   
